/vald
/vald-origin

# gogoproto
src/main/java/com/google/protobuf/GoGoProtos.java

wordvecs1000.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.classpath
.project
.settings
bin
